@import './variables';

.modal{
  position: relative;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  box-sizing: border-box;
  &__header{
    padding: 20px;
    padding-bottom: 10px;
    h1,h2,h3,h4,h5,h6{
      margin-top:0;
      margin-bottom:0;
    }
    &btn{
      cursor:pointer;
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 0;
      background: transparent;
      border: none;
      outline: none;
      font-size: 22px;
      color: #ccc;
    }
  }
  &__footer{
    padding: 20px;
    padding-top: 10px;
    text-align: right;
    box-sizing: border-box;
  }
  &__body{
    padding: 30px 20px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
  }
}


